/* Global Styles */
:root {
    --light-color: #f4f4f4;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, sans-serif;
}
  
/* remove the blue outlines on form elements */
input, button, select {
    box-shadow: none !important;
    outline: none !important;
}

.btn-light {
    background-color: var(--light-color) !important;
    border-color: var(--light-color) !important;
}

.alert-light {
    background-color: var(--light-color) !important;
    color: #333;
}

#book-card a {
    color: #000;
}

#book-card a:hover {
    color: #c53030;
    text-decoration: none;
}
